@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400 500 600 7000 800;
    font-style: normal;
}




html{font-size:20px; word-break: keep-all;
		font-family: 'Great Vibes', cursive;}

.common-btn{
	padding: 4px 6px;
	background-color: #07C;
	color: white;
	border: none;
	border-radius: 10px;
	text-decoration: none;
}
#progress-bar{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	list-style: none;
}
h1{font-size: 2.5rem; line-height:3rem;}
h3{font-size: 2rem;}
h4{font-size: 2rem; line-height: 3rem;}
.p1{font-size:1.7rem; line-height:2.5rem;}
.number{font-family:'Great Vibes'; font-size:10rem; color: lightgray;}
.process-english{font-size: 1.5rem; }
.step{color: #0000ff; font-family: 'Great Vibes'; font-size: 4rem;}
.bg-blue{background-color:#0000ff;}
.f-white{color: white;}
.border{border:red solid 3px;}
.pretendard{font: Pretendard-Regular;}
.f500{font-weight: 500;}
.blue{
	color: #0000ff;
}
.tcenter{text-align: center;}
.wrapper{
	margin: auto;
	max-width: 900px;
	
}